apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: us-central1-docker.pkg.dev/amiable-archive-473111-d4/devops-repo/backend:v1
        ports:
        - containerPort: 5000
        env:
        - name: MYSQL_HOST
          value: "34.58.86.28"
        - name: MYSQL_USER
          value: "app_user"
        - name: MYSQL_PASSWORD
          value: "app_pass123"
        - name: MYSQL_DB
          value: "app_db "
        - name: MYSQL_PORT
          value: "3306"
